.hero-section {
    background: url("../img/materials/about/") no-repeat center
      center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
  }