.hero-section-about {
    background: url("../img/materials/about/About-bg.svg") no-repeat center
      center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
  }