@media (max-width: 767px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .row .col .arrow_circle {
    transform: rotate(90deg);
    margin: 15px;
  }

  .row .col.d-none.d-md-flex {
    display: flex !important;
  }
}
.carousel,
.carousel-item,
.carousel-item img {
  height: 100vh;
  object-fit: cover;
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  bottom: 10%;
}

.email{
  text-decoration: none;
  color: #FFFBF5;
}

a .email :hover{
  color: #D97218;
}
