@media (max-width: 767px) {
  .return-process {
    flex-direction: column;
    align-items: center;
  }

  .row .col .arrow_circle {
    transform: rotate(90deg);
    margin: 24px;
  }

  .row .col.d-none.d-md-flex {
    display: flex !important;
  }
}
.carousel,
.carousel-item,
.carousel-item img {
  height: 100vh;
  object-fit: cover;
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  bottom: 10%;
}

.email {
  text-decoration: none;
  color: #fffbf5;
}

a .email :hover {
  color: #d97218;
}

.hero-image {
  margin-top: 80px;
}
.hero-image img {
  width: 90%;
}

.hero-section {
  padding: 96px 0;
}
