.carousel-item img {
  margin: auto;
}

.hero-home {
  background: url("/img/materials/home/hero_background_astronauts.svg")
    no-repeat center center;
  background-size: cover;
  height: 150vh;
  display: flex;
  align-items: center;
}
.hero-text {
  max-width: 500px;
}
.hero-section {
  background: url("../img/materials/home/hero_background_astronauts.svg")
    no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}
.overlay {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}
.text-right {
  margin-left: -30%;
}

#watchesCarousel {
  position: relative;
  z-index: 1;
}
#watchesCarousel::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  background-size: cover;
  width: 150%;
  translate: -25%;
  filter: blur(5px);
  z-index: -1;
  overflow: hidden;
}

.our-numbers-section {
  color: #fff;
  overflow: hidden;
  height: 75vh;
}

.our-numbers-section .number-statistic {
  margin-bottom: 1rem;
}

.our-numbers-section .number-statistic h3 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.our-numbers-section .number-statistic p {
  font-size: 1.2rem;
}

.logo_footer {
  width: 150px;
}

@media (max-width: 992px) {
  .our-numbers-section {
    height: auto;
  }
  .carousel-item {
    padding: 4rem; /* Aggiungi spaziatura interna */
  }
  .napoleon {
    display: none;
  }
}

li {
  list-style-type: none;
}
