.carousel-item img {
  translate: -25%;
}
.mirror {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#watchesCarousel {
  position: relative; /* Imposta il posizionamento relativo per il contenitore */
  z-index: 1;
}
#watchesCarousel::before {
  content: ""; /* Necessario per renderizzare un pseudo-elemento */
  position: absolute; /* Posiziona assolutamente rispetto al contenitore */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  background-size: cover;
  width: 150%;
  translate: -25%;
  filter: blur(5.099999904632568px);
  z-index: -1;
}

.custom-button {
  color: white;
  border-radius: 28px;
  background: rgba(217, 114, 24, 0.75);
  backdrop-filter: blur(2px);
}
.custom-button:active,
.custom-button:focus,
.custom-button:hover {
  border-radius: 28px;
  background: rgba(151, 79, 16, 0.75);
  backdrop-filter: blur(2px);
}
