.feed {
  padding: 20px;
}
.container h2 {
  color: #d97218;
}
.title-container {
  margin-top: 100px;
}
.black-blur::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  background-size: cover;
  width: 150%;
  translate: -25%;
  filter: blur(5px);
  z-index: -1;
  overflow: hidden;
}
.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #d97218;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.custom-img-left,
.custom-img-right {
  width: 100%;
  height: auto;
}

.custom-img-left {
  position: relative;
  left: -20%;
}

.custom-img-right {
  position: relative;
  right: -20%;
}

@media (max-width: 992px) {
  .custom-img-left,
  .custom-img-right {
    display: none;
  }
}

.reviw-contain {
  padding-left: 0;
  padding-right: 0;
}

.left-contain,
.right-contain {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
